[user]
	email = abc@pompel.me
	name = Andrea Brancaleoni
[credential]
	helper = store
[color]
	ui = auto
[alias]
	pr = !sh -c 'stash pull-request $0 $@'
	up = pull --rebase --autostash
	u = pull --rebase --autostash
	graph = log --graph --decorate --oneline
	g = log --graph --decorate --oneline
	a = add
	t = !sh -c 'tig'
	root = rev-parse --show-toplevel
	search = !sh -c 'git grep $0 $(git rev-list --all)'
