[submodule ".vim/markdown2ctags"]
	path = common/.vim/markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags
[submodule ".vim/bundle/Vundle.vim"]
	path = common/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
